<ion-view view-title="Edit Item" >

  <ion-nav-buttons side="secondary" >
    <button class="button button-clear button-icon ion-trash-a"
            ng-click="deleteTime(timeId)" >
    </button >
  </ion-nav-buttons >

	<ion-content >
		<form name="editTimeForm"
          id="timeForm"
		      novalidate=""
		      class="create-form card" >

      <ion-list >

        <!-- Title -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 5px;">
          <div class="col">Description</div>
          <input class ="col item-input-wrapper"
                 type="text"
                 name="title"
                 ng-model="formData.title"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Time Category -->
        <label class="item item-input item-select"
               style="padding-top: 5px; padding-bottom: 10px;">
          <div class="input-label" >Time Category</div >
          <select
            ng-options="group as group.desc for group in formData.timeGroups track by group.value"
            ng-model="formData.selectedOption">
          </select>
        </label >

        <!-- Date Picker -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 5px;">
          <div class="col col-center">Date</div>
          <ionic-datepicker input-obj="datepickerTheDate">
            <button class="button button-block button-positive"> {{formData.theDate | date:'M/d/yy'}}</button>
          </ionic-datepicker>
        </div>

        <!-- Start Time Picker -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 5px;">
          <div class="col col-center">Start time</div>
          <ionic-timepicker input-obj="timePickerStartTime">
            <button class="button button-block button-positive overflowShow">
              <standard-time-meridian etime='startTime'></standard-time-meridian>
            </button>
          </ionic-timepicker>
        </div>

        <!-- End Time Picker-->
        <div class="row item">
          <div class="col col-center">End time</div>
          <ionic-timepicker input-obj="timePickerEndTime">
            <button class="button button-block button-positive overflowShow">
              <standard-time-meridian etime='endTime'></standard-time-meridian>
            </button>
          </ionic-timepicker>
        </div>


      </ion-list >

		</form >

    <button class="button button-block button-positive"
            style="text-align: center;"
            ng-click="saveTime(editTimeForm)" >Save
    </button>

	</ion-content >

  <!--<div class="bar bar-footer">-->
    <!--<button class="button button-positive"-->
            <!--type="submit"-->
            <!--style="width: 100%"-->
            <!--form="timeForm">Save</button>-->
  <!--</div>-->



</ion-view >
