<ion-view view-title="Edit Item" >

  <ion-nav-buttons side="secondary" >
    <button class="button button-clear button-icon ion-trash-a"
            ng-click="deleteTime(timeId)" >
    </button >
  </ion-nav-buttons >

	<ion-content >
		<form name="editTimeForm"
          id="timeForm"
		      novalidate=""
		      ng-submit="saveTime(editTimeForm)"
		      class="create-form card" >

      <ion-list >

        <!-- Title -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 5px;">
          <div class="col">Description</div>
          <input class ="col item-input-wrapper"
                 type="text"
                 name="title"
                 ng-model="formData.title"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Food Group selection-->
        <label class="item item-input item-select">
          <div class="input-label" >Food Group</div >
          <select
            ng-options="group as group.desc for group in formData.foodGroups track by group.value"
            ng-model="formData.selectedOption">
          </select>
        </label >

        <!-- Amount -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col">Amount ({{formData.selectedOption.unit}})</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="amount"
                 ng-model="formData.amount"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Calories -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col">Calories (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="calories"
                 ng-model="formData.calories"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Fat -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;" >
          <div class="col">Fat (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="fat"
                 ng-model="formData.fat"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Sodium -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col">Sodium (mg)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="sodium"
                 ng-model="formData.sodium"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Carbs -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col">Carbs (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="carbs"
                 ng-model="formData.carbs"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Sugar -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col">Sugar (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="sugar"
                 ng-model="formData.sugar"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Protein -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col">Protein (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="protein"
                 ng-model="formData.protein"
                 style="text-align: left; padding-left: 10px;">
        </div>

        <!-- Fiber -->
        <div class="row item"
             style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col">Fiber (g)</div>
          <input class ="col item-input-wrapper"
                 type="number"
                 name="fiber"
                 ng-model="formData.fiber"
                 style="text-align: left; padding-left: 10px;">
        </div>

      </ion-list >

		</form >

	</ion-content >

  <div class="bar bar-footer">
    <button class="button button-positive"
            type="submit"
            style="width: 100%"
            form="timeForm">Save</button>
  </div>



</ion-view >
